@import "../../../../node_modules/compass-mixins/lib/compass/css3";
@import "../../../styles/mixins";
@import "../../../styles/variables";

#page-home {
  line-height: 1;
  margin-top: -16px;

  > section {
    padding: 80px 0;
  }
}

#hero-section {
  @include border-bottom-radius(40px);
  background: linear-gradient(270deg, #030f14 0%, #0b1425 100%);
  overflow: hidden;

  .hero-content {
    .hero-description {
      flex: 0 0 100%;
      max-width: 600px;

      h1 {
        font-size: 48px;
        font-weight: 500;
        line-height: 1.2;
      }

      .hero-subtitle {
        line-height: 1.5;
        margin: 24px 0 40px;
      }
    }

    .hero-image {
      flex: auto;
      position: relative;

      img {
        @include breakpoint($max: 768px) {
          height: auto;
          margin-top: 48px;
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }
}

#project-section {
  > .wrapper {
    > header {
      margin: 0 auto 48px;
      max-width: 950px;
      width: 100%;

      .title {
        margin-bottom: 24px;
      }
    }

    .project-infographic {
      flex-direction: column;
      align-items: center;

      @include breakpoint($min: 768px) {
        align-items: stretch;
        flex-direction: row;
      }

      .card {
        @include border-radius(15px);
        @include box-sizing(border-box);
        @include box-shadow(0px 8px 20px rgba(0, 0, 0, 0.12));
        background-color: #fff;
        flex: 0 0 100%;
        max-width: 350px;
        padding: 24px 32px;
        width: 100%;

        @include breakpoint($min: 768px) {
          flex: 0 0 40%;
          width: auto;
        }

        > header {
          ::ng-deep .mat-icon {
            height: 48px;
            margin-bottom: 24px;
            width: 48px;
          }
        }

        ul {
          @include reset-list;
          margin-top: 16px;

          li {
            border-bottom: 1px $border-color dashed;
            padding: 8px 0;

            span {
              margin-left: 8px;
            }
          }
        }
      }

      .image {
        flex: 0 0 1;
        margin: 32px 0;

        @include breakpoint($min: 768px) {
          margin: 0 32px;
        }

        ::ng-deep .mat-icon {
          height: 48px;
          transform: rotate(90deg);
          width: 48px;

          @include breakpoint($min: 768px) {
            transform: rotate(0);
          }
        }
      }
    }
  }
}

#about-us-section {
  background-color: #fdf5ef;
  overflow: hidden;

  .about-content {
    .about-description {
      flex: 1;
      margin-bottom: 48px;
      max-width: 500px;
      order: 1;

      @include breakpoint($min: 768px) {
        margin-bottom: 0;
        order: 2;
        padding-left: 100px;
      }

      .about-title {
        line-height: 1.2;
        margin-bottom: 24px;
      }

      .about-subtitle {
        line-height: 1.5;
        margin-bottom: 16px;
      }

      ::ng-deep .mat-raised-button {
        margin-top: 40px;
      }
    }

    .about-image {
      flex: 1;
      order: 2;

      @include breakpoint($min: 768px) {
        order: 1;
      }

      img {
        height: auto;
        width: 100%;

        @include breakpoint($min: 1024px) {
          height: 609px;
          width: 616px;
        }
      }
    }
  }
}

#our-solutions {
  header {
    .title {
      margin-bottom: 12px;
    }
  }

  ul {
    @include reset-list;

    li {
      @include border-radius(15px);
      @include box-shadow(0px 8px 20px rgba(0, 0, 0, 0.12));
      @include box-sizing(border-box);
      background-color: #fff;
      flex: 0 0 100%;
      margin-top: 40px;
      min-height: 250px;
      padding: 32px 24px 24px;

      @include breakpoint($min: 768px) {
        flex: 0 0 calc(25% - 12px);
      }

      .solution-title {
        margin: 24px 0 8px;
      }

      .solution-description {
        margin-bottom: 44px;
      }

      > a {
        span {
          display: inline-block;
          line-height: 1.5;
          margin-right: 6px;
        }
      }
    }
  }
}

#solution-section {
  background-color: #f9f8fe;
  overflow: hidden;

  .solution-description {
    flex: 0 0 calc(60% - 16px);
    max-width: 650px;

    @include breakpoint($min: 768px) {
      margin-right: 100px;
    }

    .solution-title {
      margin-bottom: 24px;
    }

    .solution-subtitle {
      margin-bottom: 48px;
    }
  }

  .solution-items-container {
    flex: 0 0 calc(40% - 16px);

    .solution-item {
      margin-bottom: 48px;

      .badge {
        @include border-radius(9px);
        background-color: rgba($color: #000000, $alpha: 0.8);
        color: $white;
        display: inline-block;
        font-size: 11px;
        line-height: 18px;
        margin-left: 6px;
        padding: 0 12px;
      }

      .icon {
        @include box-shadow(0px 4px 9px rgba(0, 0, 0, 0.05));
        background-color: #fff;
        height: 60px;
        flex: 0 0 60px;
        margin-right: 20px;
        width: 60px;

        ::ng-deep .mat-icon {
          height: 32px;
          width: 32px;
        }
      }

      .title {
        margin-bottom: 10px;
      }
    }
  }

  .solution-image {
    img {
      @include breakpoint($max: 768px) {
        height: auto;
        margin-top: 48px;
        max-width: 650px;
        width: 100%;
      }
    }
  }
}

#footer-section {
  background-color: #131924;
  padding: 80px 0 32px;

  .footer-message {
    margin: 24px auto 48px;
    max-width: 800px;
  }

  hr {
    background-color: #fff;
    height: 1px;
    opacity: 0.1;
    width: 100%;
  }

  .copyright {
    color: #fff;
    opacity: 0.5;
    padding-top: 32px;
  }

  ::ng-deep .mat-raised-button {
    margin-bottom: 64px;
  }
}

// shared styles
.about-content,
.hero-content,
.solution-content {
  @include breakpoint($max: 768px) {
    flex-direction: column;
  }
}

::ng-deep .mat-raised-button {
  @include border-radius(32px);
  font-size: 18px;
  line-height: 64px;
  padding: 0 32px;

  @include breakpoint($max: 768px) {
    display: block;
  }
}
