<div id="page-home">
  <!-- HERO SECTION -->
  <section id="hero-section">
    <div class="wrapper">
      <div class="hero-content flex items-center justify-between">
        <div class="hero-description">
          <h1 class="color-white f-size-48 f-weight-500 hero-title">Education towards employability</h1>
          <div class="color-white f-size-20 hero-subtitle">
            With <a href="https://www.unicefinnovationfund.org/"
              class="color-white f-weight-500 text-decoration-none">Unicef
              Innovation Fund</a> and <a href="https://giga.global/"
              class="color-white f-weight-500 text-decoration-none">Giga
              Project</a> our objective is to
            leverage the inclusion of young people to better education and more opportunities through internet
            connectivity.</div>
          <a mat-raised-button href="mailto:contato@jobzi.com?subject=Jobzi | Unicef - Schools Connectivity"
            target="_blank">Contact us</a>
        </div>
        <div class="hero-image flex items-center justify-end">
          <img src="assets/img/page/home/img-hero.png" height="500" width="500">
        </div>
      </div>
    </div>
  </section>
  <!-- PROJECT SECTION -->
  <section id="project-section">
    <div class="wrapper">
      <header>
        <div class="color-tp-title f-size-40 f-weight-500 line-height-1 text-center title">
          Our Project
        </div>
        <div class="color-tp-body f-size-18 line-height-1-5 text-center">
          Jobzi has an unique AI technology to collect, deduplicate and normalize job & education data to build
          predictive
          models
        </div>
        <br>
        <div class="color-tp-body f-size-18 line-height-1-5 text-center">
          We also use Machine Learning techniques to build explainable models to predict connectivity at schools. To
          find the model(s) that will be implemented in our service we will invest in feature selection/engineering and
          we
          will also carry-on experiments with a number of possibilities ranging from classical models (Learners) as
          Decision Trees and SVM's to more recent ones, including Gradient Boosting Methods and Deep Learning.
        </div>
      </header>
      <div class="project-infographic flex items-strecth justify-center">
        <div class="card">
          <header>
            <mat-icon class="color-blue material-icons-outlined f-size-48">
              file_upload
            </mat-icon>
            <div class="color-tp-title f-size-18 f-weight-500">Input data</div>
          </header>
          <ul>
            <li class="flex items-center">
              <mat-icon class="color-blue material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Job Openings</span>
            </li>
            <li class="flex items-center">
              <mat-icon class="color-blue material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Economic Index</span>
            </li>
            <li class="flex items-center">
              <mat-icon class="color-blue material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Telecommunications Data</span>
            </li>
            <li class="flex items-center">
              <mat-icon class="color-blue material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Education & School Data</span>
            </li>
            <li class="flex items-center">
              <mat-icon class="color-blue material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Development Index</span>
            </li>
            <li class="flex items-center">
              <mat-icon class="color-blue material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Research Institutes</span>
            </li>
            <li class="flex items-center">
              <mat-icon class="color-blue material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Government Reports</span>
            </li>
          </ul>
        </div>
        <div class="image flex items-center justify-center">
          <mat-icon class="color-feat-red material-icons-outlined f-size-48">
            arrow_forward
          </mat-icon>
        </div>
        <div class="card">
          <header>
            <mat-icon class="color-green material-icons-outlined f-size-48">
              file_download
            </mat-icon>
            <div class="color-tp-title f-size-18 f-weight-500">
              Predictive Models
            </div>
          </header>
          <ul>
            <li class="flex items-center">
              <mat-icon class="color-green material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Schools Connectivity</span>
            </li>
            <li class="flex items-center">
              <mat-icon class="color-green material-icons-outlined">
                task_alt
              </mat-icon>
              <span>Social Economy Impacts with employability</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- ABOUT US SECTION -->
  <section id="about-us-section">
    <div class="wrapper">
      <div class="about-content flex items-center justify-between">
        <div class="about-image flex items-center justify-start">
          <img src="assets/img/page/home/img-about-us.png" height="609" width="616">
        </div>
        <div class="about-description">
          <div class="about-title color-tp-title f-size-40 f-weight-500">About us</div>
          <div class="about-subtitle color-tp-title f-size-18">
            We are an AI technology and data intelligence startup company focused on
            the job and education market.</div>
          <br>
          <div class="about-subtitle color-tp-title f-size-18">
            Our purpose is to democratize and equalize the job and
            education supply and demand in all social levels.
          </div>
          <a mat-raised-button href="mailto:contato@jobzi.com?subject=Jobzi | Unicef - Schools Connectivity"
            target="_blank">Contact us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- SOLUTION -->
  <section id="solution-section">
    <div class="wrapper">
      <div class="solution-content flex items-center justify-between">
        <div class="solution-description flex-1">
          <div class="solution-title color-tp-title f-size-40 f-weight-500">
            How we are helping companies
          </div>
          <div class="solution-subtitle color-tp-body f-size-18 line-height-1-5">
            Jobzi is using information on school location and jobs to predict connectivity.
            Our solutions provide unique Brazil labor & education market information. In this project, our main goal is
            building an innovative AI model to predict connectivity at school-level using jobs-related and education
            features with connectivity data.
          </div>
          <div class="solution-items-container flex-1">
            <div class="solution-item flex items-start">
              <div class="icon flex items-center justify-center">
                <mat-icon class="material-icons-outlined color-green f-size-32">travel_explore</mat-icon>
              </div>
              <div>
                <a [routerLink]="['/interactive-map']"
                  class="title color-tp-title f-size-24 f-weight-500 text-decoration-none">Interactive
                  Maps</a>
                <div class="description color-tp-body f-size-18 line-height-1-5">
                  Explore schools connectivity data, schools connectivity prediction and educational performance given
                  to
                  connectivity generated by our models on an interactive map.
                </div>
              </div>
            </div>
            <div class="solution-item flex items-start">
              <div class="icon flex items-center justify-center">
                <mat-icon class="material-icons-outlined color-green f-size-32">query_stats</mat-icon>
              </div>
              <div>
                <a href="#" class="title color-tp-title f-size-24 f-weight-500 text-decoration-none">Analysis Tool</a>
                <div class="description color-tp-body f-size-18 line-height-1-5">
                  Allows users to download our data, execute our models, visualize the results/analysis
                  and also download them.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="solution-image flex items-center justify-end">
          <img src="assets/img/page/home/img-solution.png" height="427" width="650">
        </div>
      </div>
    </div>
  </section>
  <!-- SQUAD SECTION -->
  <section id="squad-section"></section>
</div>