<div id="page-home">
  <!-- HERO SECTION -->
  <section id="hero-section">
    <div class="wrapper">
      <div class="hero-content flex items-center justify-between">
        <div class="hero-description">
          <h1 class="color-white f-size-48 f-weight-500 hero-title">Education towards employability</h1>
          <div class="color-white f-size-20 hero-subtitle">
            With <a href="https://www.unicefinnovationfund.org/"
              class="color-white f-weight-500 text-decoration-none">Unicef
              Innovation Fund</a> and <a href="https://giga.global/"
              class="color-white f-weight-500 text-decoration-none">Giga
              Project</a> our objective is to
            leverage the inclusion of young people to better education and more opportunities through internet
            connectivity.</div>
          <a mat-raised-button href="mailto:contato@jobzi.com?subject=Jobzi | Unicef - Schools Connectivity"
            target="_blank">Contact Us</a>
        </div>
        <div class="hero-image flex items-center justify-end">
          <img src="assets/img/page/home/img-hero.png" height="500" width="500">
        </div>
      </div>
    </div>
  </section>
  <!-- PROJECT SECTION -->
  <section id="project-section"></section>
  <!-- ABOUT US SECTION -->
  <section id="about-us-section"></section>
  <!-- SQUAD SECTION -->
  <section id="squad-section"></section>
</div>