@mixin snackbar-variant($background, $color) {
  background: $background;
  color: $color;
}

.mat-snack-bar-container {
  &.danger {
    @include snackbar-variant(#f95e5d, $white);
  }

  &.success {
    @include snackbar-variant(#00bea4, $white);
  }

  &.warning {
    @include snackbar-variant(#ffc03d, #8c5b00);
  }
}

.alert {
  @include border-radius(8px);
  @include box-sizing(border-box);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 20px;

  > p {
    margin: 8px 0 0;
  }

  &.alert-sm {
    font-size: 14px;
  }

  &.alert-danger {
    background-color: rgba($color: $feat-red, $alpha: 0.2);
    border: 1px solid #f5c6cb;
    color: #721c24;
  }

  &.alert-info {
    background-color: rgba($color: $blue, $alpha: 0.2);
    border: 1px solid #b8daff;
    color: $blue-dark;
  }

  &.alert-success {
    background-color: rgba($color: $green-light, $alpha: 0.2);
    border: 1px solid #c3e6cb;
    color: $green-dark;
  }

  &.alert-warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
  }
}
