@import "~compass-mixins/lib/compass/css3";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.page-container {
  @include box-sizing(border-box);
  height: 100%;
  max-height: calc(100vh - (#{$navigation-bar-height-mobile} + 16px));
  min-height: calc(100vh - (#{$navigation-bar-height-mobile} + 16px));

  @include breakpoint($navigation-bar-width-breakpoint) {
    max-height: calc(100vh - (#{$navigation-bar-height} + 16px));
    min-height: calc(100vh - (#{$navigation-bar-height} + 16px));
  }

  > header {
    background-color: #fff;

    .bar {
      background-color: #f1f1f1;
      height: 36px;

      .breadcrumb {
        background: #eee;
        color: #666;
        font-size: 14px;
        height: 36px;
        list-style: none;
        padding: 0;
        overflow: hidden;

        li {
          float: left;

          span {
            background: #3182bd;
            color: #fff;
            display: block;
            line-height: 36px;
            padding: 0 30px 0 40px;
            position: relative;
            text-decoration: none;

            &:hover {
              background: #6baed6;
              cursor: pointer;
            }
          }

          &:first-child {
            span {
              padding-left: 25px;
            }
          }

          &:last-child {
            span {
              background: #08519c;
              cursor: default;
            }
          }
        }
      }

      .breadcrumb li:not(:last-child) span:after {
        background: #3182bd;
        box-shadow: 2px -2px 0 #fff;
        content: "";
        height: 30px;
        position: absolute;
        right: -10px;
        top: 4px;
        width: 30px;
        z-index: 10;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .breadcrumb li:last-child span:after {
        background: #08519c;
        box-shadow: 1px -1px 0 #fff;
        content: "";
        height: 37px;
        position: absolute;
        right: -10px;
        top: 0px;
        width: 1px;
        z-index: 10;
      }

      .breadcrumb li span:hover:after {
        background: #6baed6;
      }
    }
  }

  .container {
    @include box-sizing(border-box);
    position: relative;
    overflow: hidden;

    ::ng-deep google-map {
      height: 100;
      width: 100%;
    }

    .box-loading {
      background-color: rgba($color: #fff, $alpha: 0.7);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 9999;
    }

    .filters-container {
      left: 16px;
      position: absolute;
      top: 16px;
      z-index: 2;

      #field-autocomplete-location {
        min-width: 350px;
        position: relative;
        z-index: 2;

        input {
          padding-left: 54px;
          padding-right: 42px;
        }

        input[aria-expanded="true"] {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        .separator {
          background-color: #ccc;
          left: 42px;
          position: absolute;
          height: 32px;
          top: 5px;
          width: 1px;
        }

        .input-icon {
          left: auto;
          right: 8px;
        }
      }

      .filter-settings-container {
        @include border-bottom-radius(8px);
        @include box-shadow(
          0 1px 1px 0 rgba(65, 69, 73, 0.3),
          0 1px 3px 1px rgba(65, 69, 73, 0.15)
        );
        @include box-sizing(border-box);
        background-color: $white;
        display: none;
        left: 0;
        padding: 16px;
        position: absolute;
        top: 44px;
        width: 350px;
        z-index: 1;

        // mat-radion-button view options
        .mrbViewOption {
          margin: 5px;
        }
      }

      &.expanded {
        #field-autocomplete-location {
          input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .filter-settings-container {
          display: block;
        }
      }
    }

    .stats-panel-container {
      background-color: $white;
      height: 100%;
      left: auto;
      right: -520px;
      position: absolute;
      top: 0;
      transition: all 0.3s ease;
      width: 520px;

      &.open {
        @include box-shadow(
          0px 8px 10px -5px rgb(0 0 0 / 20%),
          0px 16px 24px 2px rgb(0 0 0 / 14%),
          0px 6px 30px 5px rgb(0 0 0 / 12%)
        );
        right: 0;
      }

      > .inner-container {
        height: 100%;
        overflow: auto;
        width: 100%;

        > header {
          background-color: #232837;
          color: $white;
          height: 44px;
          padding: 0 12px;
          margin-bottom: 24px;
        }

        > section {
          margin-top: 12px;
          padding: 4px 16px;

          > header {
            border-bottom: 1px solid $border-color;
            color: $tp-title;
            height: 24px;
            margin-bottom: 16px;
          }
        }
      }

      .toggle-button {
        @include border-left-radius(6px);
        background-color: $tp-title;
        color: #fff;
        cursor: pointer;
        position: absolute;
        left: -24px;
        bottom: 16px;
      }
    }
  }
}

.map-legend {
  @include breakpoint(xs) {
    display: none;
  }

  .legend-label {
    color: $tp-title;
    font-weight: 500;
    margin-right: 8px;
  }

  .legend-items {
    display: grid;
    font-size: 12px;
    font-weight: 500;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    height: 36px;
    width: 500px;

    .legend-item {
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $feat-orange !important;
        color: $tp-title !important;
      }
    }
  }
}

.marker-info {
  margin-left: 32px;
}

// Marker Info Window Styles
::ng-deep .gm-style .gm-style-iw-c {
  overflow: visible;
  min-width: 450px !important;
  padding: 0;
}

::ng-deep .gm-style .gm-style-iw-d {
  overflow: visible !important;
  padding: 3px;
}

::ng-deep .gm-style .gm-style-iw-c button {
  top: -24px !important;
  right: -24px !important;
}

::ng-deep .mat-autocomplete-panel {
  margin-top: 2px;
}

#infowindow-container {
  color: #fff;
  display: flex;
  font-size: 13px;
  font-weight: 300;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;

  .infowindow-left {
    box-sizing: border-box;
    background-color: #f89a51;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    flex: 0 0 calc(40% - 1px);
    padding: 12px;
  }

  .infowindow-right {
    box-sizing: border-box;
    background-color: #f1764f;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    flex: 0 0 calc(60% - 1px);
    padding: 12px;
  }

  .infowindow-title {
    font-size: 15px;
    font-weight: 500;
    color: white;
  }

  .infowindow-stats-container {
    display: flex;
    justify-content: space-between;
  }

  .infowindow-stats-container div {
    flex: 0 0 50%;
  }
}
