<div id="page-not-found">
  <div class="wrapper">
    <div id="hero-section" class="flex items-center justify-between">
      <div class="hero-description">
        <div class="hero-title color-tp-title f-size-128 f-weight-500 line-height-1">
          404
        </div>
        <div class="separator"></div>
        <div class="hero-subtitle f-size-36 line-height-1-5">
          Sorry, the page you are looking for could not be found.
        </div>
        <a mat-raised-button routerLink="" class="text-transform-uppercase">Back to home</a>
      </div>
      <div class="hero-image">
        <img src="assets/img/page/page-not-found/img-hero.jpg" height="auto" width="650">
      </div>
    </div>
    <div class="image-attribution-markup">
      Image by <a
        href="https://www.freepik.com/free-vector/no-data-concept-illustration_8961448.htm#query=not%20found&position=0&from_view=keyword">
        storyset</a> on <a href="https://www.freepik.com/">Freepik</a>
    </div>
  </div>
</div>