<div id="page-analysis-tool">
  <header class="page-title flex items-center">
    <div class="wrapper">
      <div class="hero-container flex items-center justify-between">
        <div class="description flex-auto">
          <div class="title-header f-size-13 line-height-1 f-weight-500 text-transform-uppercase">
            Tools
          </div>
          <h1 class="title">
            Analysis Tool
          </h1>
          <div class="subtitle f-size-20 line-height-1-5 line-height-1">
            Make your own analysis, use our models, visualize the results and download them.
          </div>
        </div>
        <div class="hero-image">
          <img src="assets/img/page/analysis-tool/img-hero.jpg" height="auto" width="650">
        </div>
      </div>
    </div>
    <div class="image-attribution-markup">
      Image by <a
        href="https://www.freepik.com/free-vector/data-inform-illustration-concept_6195525.htm#query=analysis&position=6&from_view=search&track=sph">storyset</a>
      on <a href="https://www.freepik.com/">Freepik</a>
    </div>
  </header>
</div>