@import "../../../../node_modules/compass-mixins/lib/compass/css3";
@import "../../../styles/mixins";
@import "../../../styles/variables";

#page-analysis-tool {
  line-height: 1;
  margin-top: -16px;

  .page-title {
    background-color: #fafafa;
    height: auto;
    margin-top: -16px;
    position: relative;

    @include breakpoint($min: 768px) {
      flex-direction: row;
      height: 500px;
    }

    .hero-container {
      flex-direction: column;
      height: 100%;
      padding: 48px 0;

      @include breakpoint($min: 768px) {
        flex-direction: row;
        padding: 0;
      }

      .description {
        flex: auto;

        @include breakpoint($min: 768px) {
          max-width: 40%;
        }

        .title-header {
          color: #1a2e35;
        }

        .title {
          color: #ff4f5a;
          font-size: 48px;
          font-weight: 500;
          line-height: 1;
          margin-bottom: 24px !important;
          margin-top: 8px !important;
        }

        .subtitle {
          color: #385a64;
        }
      }

      .hero-image {
        flex: auto;
        text-align: center;

        @include breakpoint($min: 425px) {
          flex: 0 0 60%;
        }

        @include breakpoint($min: 1024px) {
          flex: auto;
          text-align: right;
        }

        img {
          height: auto;
          max-width: 650px;
          width: 100%;

          @include breakpoint($min: 1024px) {
            width: 650px;
          }
        }
      }
    }
  }

  #section-about,
  #section-type-selection {
    padding: 40px 0;

    header {
      border-bottom: 3px solid $tp-title;
      padding: 8px 0;

      .title {
        margin-bottom: 6px;
      }
    }
  }

  .file-upload-container {
    @include border-radius(8px);
    @include box-sizing(border-box);
    border: 2px dashed $border-color;
    max-width: 350px;
    padding: 24px 0;
    position: relative;

    &.file-over {
      border-color: $blue;
    }

    ::ng-deep .mat-icon {
      height: 48px;
      margin-bottom: 24px;
      width: 48px;
    }

    > p {
      margin-bottom: 16px;
    }

    .file-drop-input {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  .file-selected-container {
    @include border-radius(8px);
    @include box-sizing(border-box);
    border: 2px dashed $border-color;
    padding: 8px;

    ::ng-deep .mat-icon {
      height: 48px;
      margin-right: 8px;
      width: 48px;
    }
  }
}
