<header class="page-title flex items-center">
  <div class="wrapper">
    <div class="hero-container flex items-center justify-between">
      <div class="description flex-auto">
        <div class="title-header f-size-13 line-height-1 f-weight-500 text-transform-uppercase">
          Community
        </div>
        <h1 class="title">
          Contributors
        </h1>
        <div class="subtitle f-size-20 line-height-1-5 line-height-1">
          Contributing to open source can be a rewarding way to learn, teach, and build experience in just about any
          skill you can imagine.
        </div>
      </div>
      <div class="hero-image">
        <img src="assets/img/page/contributors/img-hero.jpg" height="auto" width="650">
      </div>
    </div>
  </div>
  <div class="image-attribution-markup">
    Image by <a
      href="https://www.freepik.com/free-vector/business-team-putting-together-jigsaw-puzzle-isolated-flat-vector-illustration-cartoon-partners-working-connection-teamwork-partnership-cooperation-concept_10606197.htm#query=community&position=4&from_view=search&track=sph">pch.vector</a>
    on <a href="https://www.freepik.com/">Freepik</a>
  </div>
</header>
<div class="page-content-container wrapper">
  <!-- ABOUT COMMUNITY -->
  <section>
    <h3>About the community</h3>
    <p>We are currently building an intelligence platform that uses data-sets inputs (connectivity, social, economic and
      employability) to predict social impacts in a region due to connectivity investments. We believe connectivity
      leverages access to new opportunities and better education that impacts people’s futures. on a project that
      addresses hate speech by providing victims and observers micro-interventions that help them choose strategic
      silence and counter narratives to combat perpetrators in a healthy and productive way.</p>

    <p>We will also offer techniques to provide instant relief to people that have been attacked to help them overcome
      this challenging situation and prevent mental wellbeing issues.</p>

    <p>
      And we will create a Chat Story or Chat Game to raise awareness about the growth of Hate Speech and all the
      possibilities we have as a community to stop this trend from scaling by changing our attitude and online behavior.
    </p>
  </section>

  <!-- PROBLEM -->
  <section>
    <h3>Problem to solve and why apply Data Sciense method?</h3>
    <p>By identifying schools with low or no connectivity we may help to bring connectivity to them and, hence, changing
      the destiny of their students by including them in the digital world and giving them access to information.</p>

    <p>Digital education will help people´s development by improving their employability and giving them better chances
      for new opportunities. Education is the best tool to change the world.</p>

    <p>
      We use data science techniques to collect and deduplicate a huge amount of information (job pots for example) from
      many different sources. In particular, deduplication is a non-trivial task so that modern techniques are required
      to understand and extract information from data in a highly scalable way.
    </p>

    <p>
      Our solution uses Machine Learning techniques, in particular, those developed in the subfield of Natural Language
      Processing, to extract and normalize relevant entities that are present in many sources like job descriptions as
      job titles.
    </p>

    <p>
      We also use Machine Learning techniques to build explainable models to predict connectivity at schools. To find
      the model(s) that will be implemented in our service we will invest in feature selection/engineering and we will
      also carry-on experiments with a number of possibilities ranging from classical models (Learners) as Decision
      Trees and SVM's to more recent ones, including Gradient Boosting Methods and Deep Learning.
    </p>
  </section>

  <!-- GUIDELINES -->
  <section>
    <h3>Contributors Guidelines</h3>
    <p>We are driving the Open Content Community to work with 3 types of tools to support the platform with the
      co-creations and contributions in an effective and organized way:</p>

    <ol>
      <li>
        <div>
          <span class="f-weight-500">Bitbucket:</span> for the official repository.
        </div>
        <ul>
          <li>Access the link <a href="https://bitbucket.org/atlz/unicef-project" target="_blank">here</a>.</li>
        </ul>
      </li>
      <li>
        <div>
          <span class="f-weight-500">Jira:</span> for the s collaboration and content analysis.
        </div>
        <ul>
          <li>Access the link <a href="https://atlzteam.atlassian.net/browse/UCP" target="_blank">here</a>.</li>
          <li>You do not need an account, but name will be requested if you want to be attributed.</li>
        </ul>
      </li>
      <li>
        <div>
          <span class="f-weight-500">Movidesk:</span> for general subjects or requests about the platform..
        </div>
        <ul>
          <li>
            <a aria-label="Contact" href="mailto:contato@jobzi.com?subject=Jobzi | Unicef - Schools Connectivity">
              Contact Us
            </a>
          </li>
          <li>
            A service ticket will be generated automatically after sending the email.
          </li>
        </ul>
      </li>
    </ol>
  </section>
</div>