<header class="page-title flex items-center">
  <div class="background-overlay">
    <div class="image-attribution-markup">
      Photo by <a
        href="https://unsplash.com/@homajob?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Scott
        Graham</a> on <a
        href="https://unsplash.com/s/photos/ethics?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
  </div>
  <div class="wrapper">
    <div class="title f-size-48 f-weight-500">
      Code of Conduct
    </div>
  </div>
</header>
<div class="page-content-container wrapper">
  <!-- SCOPE -->
  <section>
    <h3>Scope</h3>
    <p>Jobzi Code of Conduct applies to all community spaces and in addition, applies when an individual is officially
      representing the community in public spaces. Examples of representing our community include using an official
      e-mail address, posting via an official social media account, or acting as an appointed representative at an
      online or offline event.</p>

    <p>This guidance applies to actions taken outside of this space, and that have a negative impact on community
      harmony and interaction with each other. Another important aspect is that this document has the objective to
      define expectations for participation in Jobzi-managed open-source communities, as well as procedures for
      reporting unacceptable hostile or aggressive behaviors. The Jobzi team is aware and committed to welcoming and
      inspiring all community. Anyone that intends to violate or break this code of conduct can be banned from it.</p>
  </section>

  <!-- Commitment -->
  <section>
    <h3>Jobzi Commitment</h3>
    <p>We as members, contributors, and leaders are committed to encouraging interaction in our community to a
      harassment-free experience for everyone, no matter the contexts they have like education, socio-economic status,
      race, religion, gender identity and expression, nationality, personal appearance, or sexual identity and
      orientation. We pledge to act and interact in ways that contribute to an open, welcoming, inclusive, and healthy
      community.</p>
  </section>

  <!-- Standards -->
  <section>
    <h3>Jobzi Standards</h3>
    <p>We believe in the behavior examples below that can potentialize a positive environment for the community:</p>
    <ul>
      <li>Direct on what is best not just for an individual context, but for all community;</li>
      <li>Demonstrating to be respectful and politeness toward other people;</li>
      <li>Have the sense to accept constructive feedback;</li>
      <li>Accepting responsibility and apologizing to those affected by our mistakes, and learning from the experience;
      </li>
    </ul>

    <p class="f-weight-500">Unacceptable behavior includes (can be banned from the community):</p>
    <ul>
      <li>Comment,s posts, and discussions about harassment in public or private sessions in the community; </li>
      <li>The use or sharing of sexualized language, terms, or contents with sexual attention;</li>
      <li>Personal or political attacks, and encourage people to send others' private pieces of information, like
        telephone numbers, emails, and physical addresses without their explicit permission</li>
    </ul>
  </section>

  <!-- Applicable Responsibilities -->
  <section>
    <h3>Applicable Responsibilities</h3>
    <p>We want to encourage the Community leaders to be responsible for supporting guiding and response and enforcing
      our standards of acceptable behavior and will take appropriate and fair corrective action in response to any
      inappropriate, offensive, or harmful behavior.</p>

    <p>Besides that, the Community leaders have the right and responsibility to remove, edit, or reject comments,
      commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct, and will
      communicate reasons for moderation decisions when appropriate.</p>
  </section>

  <!-- Reporting -->
  <section>
    <h3>Reporting</h3>
    <p>The Jobzi team encourages any contributor or anyone in the community to resolve or handle the issues on their own
      whenever possible. In addition, instances of harassing, abusive, or otherwise unacceptable patterns or behavior
      must be reported to the community leaders responsible for enforcement at <a
        href="mailto:contato@jobzi.com?subject=Jobzi | Unicef - Connectivity Tools Reporting">contato@jobzi.com</a>.
      Issues related to the community and topics about the platform can be achieved at <a
        href="mailto:suporte@jobzi.com?subject=Jobzi | Unicef - Connectivity Tools Issues">suporte@jobzi.com</a>.</p>

    <p>Your report will be handled in accordance with the issue resolution process described in the Code of Conduct FAQ.
      All project and community leaders are obligated to respect the privacy and security of the reporter of any
      incident.</p>
  </section>

  <!-- References -->
  <section>
    <h3>References</h3>
    <p>This Code of Conduct was based on the Contributor Covenant. Page: <a
        href="https://www.contributor-covenant.org/version/2/0/code_of_conduct.html."
        target="_blank">https://www.contributor-covenant.org/version/2/0/code_of_conduct.html</a>.</p>

    <p>For any issues or questions about this code of conduct, can reach out in:</p>
    <ul>
      <li><a href="https://www.contributor-covenant.org/faq"
          target="_blank">https://www.contributor-covenant.org/faq</a></li>
      <li>
        <a href="https://www.contributor-covenant.org/translations."
          target="_blank">https://www.contributor-covenant.org/translations.</a>
      </li>
    </ul>
  </section>
</div>