.flex {
  @include display-flex;
}

.flex-important {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

// Flex
.flex-1           { flex: 1; }
.flex-auto        { flex: auto; }
.flex-grow-none   { flex-grow: none; }
.flex-grow-0      { flex-grow: 0; }
.flex-grow-1      { flex-grow: 1; }
.flex-shrink-0    { flex-shrink: 0; }

//Direction
.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

// Align Items
.items-baseline {
  align-items: baseline;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-strecth {
  align-items: stretch;
}

//Justify Content
.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}
