name: ZiConnect deploy mkdocs

on:
  push:
    branches:
      - master
      - staging
      - development

jobs:
  build-deploy:
    name: Build and deploy docs

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: pip install -r mkdocs/requirements.txt

      - name: Install dependencies
        working-directory: docs
        run: make install

      - name: Build and deploy to GitHub Pages
        working-directory: docs
        run: make deploy